body {
    background-color:#000000;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #1500ff;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 0 3px #ae00ff;
}
h2 {
    color: #008812;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}
h3 {
    color: #008812;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    text-shadow: 0 0 3px #ffffff;
}
p {
  white-space: nowrap;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  color: #ae00ff;
  text-shadow: 0 0 3px #1500ff;
}
p {
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}
@keyframes animated-text{
  from{width: 0;}
  to{width: 1100px;}
}